* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 54%, 90%);
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
}
p {
  color: hsl(24, 5%, 18%);
  font-size: 16px;
  margin-bottom: 1.5rem;
  line-height: 1.5;
}
h2 {
  color: hsl(14, 45%, 36%);
  margin-bottom: 1rem;
}

main {
  width: 60%;
  background-color: white;
  margin: 0 auto;
  padding: 2rem;
  border-radius: 20px;
  color: hsl(24, 5%, 18%);
}

.main-img {
  max-width: 100%;
  margin-bottom: 1rem;

  border-radius: 12px;
  overflow: hidden;
}

img {
  width: 100%;
}
.main-header {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  color: hsl(24, 5%, 18%);
  margin-bottom: 1.5rem;
}

.preparation-d {
  background-color: hsl(330, 100%, 98%);
  padding: 1.3rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
}
.preparation-d h3 {
  color: hsl(332, 51%, 32%);
  margin-bottom: 0.7rem;
}

ul,
ol {
  margin-left: 1rem;
  padding-left: 1rem;
  color: hsl(24, 5%, 18%);
  font-size: 20px;
  line-height: 1.5;
}
li {
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}
li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: 600;
}
li:last-child {
  margin-bottom: 0;
  text-decoration-color: hsl(14, 45%, 36%);
}

.ingredients {
  margin-bottom: 1.5rem;
}
hr {
  border: 0.5px solid #dddddd;
}
.intru {
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #dddddd;
  text-align: left;
  padding: 1rem;
}
tr:last-child > td {
  border: 0;
}

.btt {
  color: hsl(14, 45%, 36%);
}

@media screen and (max-width: 901px) {
  main {
    width: 100%;
    padding: 0;
  }
  .text-container {
    padding: 2rem;
  }
  .main-img {
    border-radius: none;
  }
  h1 {
    font-size: 0.2rem;
  }
  .main-header {
    font-size: 2rem;
  }
  p {
    font-size: 20px;
    line-height: 1.5;
  }
}
